* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(circle, #ffffff 0%, #f0f8ff 50%, #d1e9ff 100%);
  min-width: 100%;
}

.container {
  width: 65vw;
  max-width: 450px;
  padding: 20px;
}

.form-card {
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 30px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-card h2 {
  font-size: 24px;
  margin-bottom: 8px;
  color: #111827;
}

.subtitle {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 24px;
}

.google-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #374151;
  border: 1px solid #d1d5db;
  padding: 12px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 20px;
}

.google-btn:hover {
  background-color: #f9fafb;
}

.divider {
  display: flex;
  align-items: center;
  margin: 24px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #e5e7eb;
}

.divider span {
  padding: 0 10px;
  color: #9ca3af;
  font-size: 12px;
  font-weight: 600;
}

.input-group {
  text-align: left;
  margin-bottom: 16px;
}

.input-group label {
  display: block;
  font-size: 13px;
  font-weight: 600;
  color: #374151;
  margin-bottom: 6px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 30px;
  font-size: 14px;
  outline: none;
  background-color: #dcdee0;
  color: #242222;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 24px;
}

.forgot-pass {
  color: #3b82f6;
  text-decoration: none;
}

.forgot-pass:hover {
  text-decoration: underline;
}

.submit-btn {
  width: 100%;
  background-color: #2563eb;
  color: #ffffff;
  border: none;
  padding: 14px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: #1139a5;
}

.footer-text {
  margin-top: 24px;
  font-size: 14px;
  color: #4b5563;
}

.footer-text a {
  color: #3b82f6;
  text-decoration: none;
  font-weight: 600;
}

.footer-text a:hover {
  text-decoration: underline;
}

.home-container {
  text-align: center;
}

.home-container h1 {
  font-size: 60px;
  color: #111827;
  margin-bottom: 20px;
}

.home-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.home-buttons button {
  padding: 14px 30px;
  border: none;
  border-radius: 30px;
  background: #2563eb;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.google-icon {
  font-size: 22px;
  margin-right: 10px;
}

.navbar {
  width: 100%;
  height: 70px;
  padding: 0 60px;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #111827;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #374151;
  font-weight: 600;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #2563eb;
}